<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active d-flex justify-content-center" data-interval="3000">
      <img src="../../assets/home1.png" class="d-block w-100" alt="homepage1">
    </div>
    <div class="carousel-item d-flex justify-content-center">
      <img src="../../assets/home2.jpg" class="d-block w-100" alt="homepage2">
    </div>
    <div class="carousel-item d-flex justify-content-center">
      <img src="../../assets/home3.jpg" class="d-block w-100" alt="homepage3">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

