<div id="produtos">
  <div class="card" style="max-width: 40rem;margin: 0 30px;">
    <div class="card-body">
      <h5 class="card-title">{{categoria}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Subtitulo</h6>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    </div>
  </div>
</div>
<div id="feirantes">
  <div class="card" style="width: 18rem;margin: 10px;" *ngFor="let f of feirantes">
    <div class="card-body">
      <h5 class="card-title">{{f.nome}}</h5>
      <div style="display: flex;">
        <h6 class="card-subtitle mb-2 text-muted" style="align-self: center;">{{f.whatsapp}}</h6>
        <img style="margin-bottom:8px;align-self: center;padding-bottom: 15px;" src="https://img.icons8.com/color/30/000000/whatsapp.png"/>
      </div>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    </div>
  </div>
</div>
