<nav id="navbar">
  <ul class="nav">
    <button mat-button [matMenuTriggerFor]="menu"><img src="https://img.icons8.com/ios-glyphs/24/000000/menu.png"/></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a [routerLink]="['bebidas']" style="color: #98ad9e;">Bebidas</a></button>
      <button mat-menu-item><a [routerLink]="['cereais']" style="color: #98ad9e;">Cereais</a></button>
      <button mat-menu-item><a [routerLink]="['hortifrutis']" style="color: #98ad9e;">Hortifrútis</a></button>
      <button mat-menu-item><a [routerLink]="['laticinios']" style="color: #98ad9e;">Laticínios</a></button>
      <button mat-menu-item><a [routerLink]="['outros']" style="color: #98ad9e;">Outros</a></button>
    </mat-menu>

    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#quemsomos">Quem somos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contato">Contato</a>
    </li>
  </ul>
  <div class="search">
    <app-search-bar></app-search-bar>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
