.card{
  margin-bottom: 45px;

}

#feirantes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#produtos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


@media screen and (min-width:600px){
  #feirantes{
    flex-flow: wrap;
  }
}
